@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #100e1d;
  color: #e7e7eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.current-weather-container {
  background-image: linear-gradient(
      rgba(30, 33, 58, 0.95),
      rgba(30, 33, 58, 0.95)
    ),
    url(./assets/Cloud-background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > h1 {
  font-weight: 700;
  font-size: 50px;
}

.weather-icon-container {
  width: 74px;
  height: 106px;
}

.weather-icon {
  width: 100%;
  height: 100%;
}
